<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="../assets/images/app_logo.jpeg" />
      </ion-avatar>
    </ion-buttons>
    <ion-title>Madurai MP</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="end" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="end" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="ellipsis-vertical"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
