<app-header></app-header>
<ion-content>
  <div class="horizontal-scroll">
    <ion-chip #chip *ngFor="let category of feedCategories" color="light">
      <ion-label>{{category}}</ion-label>
      <ion-icon name="checkmark-circle"></ion-icon>
    </ion-chip>
  </div>
  <div class="horizontal-card-scroll">
    <div class="card" *ngFor="let feed of homeFeedsArray">
      <ion-card>
        <ion-card-header>
          <ion-item lines="none" class="card-ion-top-items">
            <ion-avatar slot="start">
              <img src="../../assets/images/svenkatesan1.jpeg" />
            </ion-avatar>
            <ion-label>
              <h3>Su Venkatesan</h3>
              <p>
                {{ feed.DateContent }} - {{ feed.Type | feedcategory }}
              </p>
            </ion-label>
          </ion-item>
        </ion-card-header>
        <img [src]="feed.ImageURL" class="card-image" />
        <ion-card-content>
          <p class="card-content-para">
            {{feed.TextContent}}
          </p>
        </ion-card-content>
        <div class="card-footer">
          <ion-icon name="book-outline" class="card-footer-padding"></ion-icon>
          <ion-label>
            Read Article
          </ion-label>
          <ion-icon name="share-outline" class="card-footer-padding"></ion-icon>
          <ion-label>
            Share
          </ion-label>
        </div>
      </ion-card>
    </div>
  </div>
  <div class="horizontal-card-scroll">
    <div class="card" *ngFor="let twit of tweets">
      <ion-card-header>
        <ion-item lines="none" class="card-ion-top-items">
          <ion-label class="text-center">
            <h2>Twitter Bytes from SuVe</h2>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <img
        [src]="twit.ImageUrl"
        class="card-image"
        style="width: 180px; height: 150px;"
      />
      <ion-card-content>
        <p class="card-content-para">
          {{twit.Text}}
        </p>
      </ion-card-content>
    </div>
  </div>
</ion-content>
