#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
  background-color: #b71c1c;
}

ion-chip.ion-color.ion-color-light.ios.ion-activatable.hydrated {
  background: #e0e0e0;
  color: #505050;
}

.horizontal-card-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  .card {
      display: inline-block;
      flex-direction: row;
      align-items: center;
      background-color: transparent;
      flex-wrap: nowrap;
    
  }
}

.card-content-para {
  white-space: normal;
  height: calc(25vh - 68px); 
}
.card-content-ios p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 11px;
}
.card-ion-top-items {
  margin-top: -15px;
  margin-left: -18px;
}

.card-image {
  padding-left: 7px;
  padding-right: 7px;
  margin-top: -7px;
  width: 100vw;
  height: calc(42vh - 68px);
  
}

.twt_image{
  display: block;
    margin-left: auto;
    margin-right: auto
}
.card-footer {
  text-align: center;
  padding-bottom: 10px;
  font-size:12px;
}

.card-footer-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.sc-ion-label-ios-s p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 11px;
  line-height: normal;
  text-overflow: inherit;
  overflow: inherit;
}

h3 {
  font-weight: bold;
}

.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
  --color: initial;
  display: block;
  color: var(--color);
  font-family: var(--ion-font-family,inherit);
  font-size: 15px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
